<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles1.css">
</head>
<body>
    <a href="#" class="logo">
        <img src="/static/images/logo.png" alt="logo">
      </a>
      
    <section id="main">
        <nav>
          <ul class="menu">
            <li><a class="hii" href="/predict">Demo</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            
          </ul>
        </nav>
      </section>

  <div class="container">
    <div class="text">
      <h1>AI-Enabled Car Parking System</h1>
      <div class="lefttext">
        <p>The AI-enabled car parking system using OpenCV is designed to revolutionize the traditional parking experience. By combining camera-based image processing techniques with intelligent algorithms.</p>
      </div>
    </div>
    <div>
      <img class="image" src="/static/images/car1.png" alt="alternative_text" width="700" height="500">
    </div>
  </div>

</body>
</html>
